/**
 * The following styles get applied in the post editor.
 *
 */

// guide list styles
.guide-list {
    display: flex;
    align-items: center;
    button {
        text-align: left;
    }
}

// guide popup styles
.custom-welcome-guide {
    img {
        max-height: 360px;
        object-fit: cover;
    }
}